# Load and Explore Time Series Data

**Import any necessary libraries.**

In [9]:
import numpy as np
import pandas as pd
%matplotlib inline

In [10]:
from pandas import read_csv

## Load time series data

In [31]:
series = pd.read_csv('../Data/daily-total-female-births.csv', 
                     header=0, index_col=0, parse_dates=True,squeeze=True)


index col=0: first column contains the index information for the time series.

parse_dates=True: the data in the first column contains dates that need to be parsed.

squeeze=True:only have one data column, and interested in a Series and not a DataFrame.

In [32]:
#df = pd.read_csv('../Data/daily-total-female-births.csv')

In [33]:
type(series)

pandas.core.series.Series

In [34]:
series.head()

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
Name: Births, dtype: int64

In [35]:
series.head(10) #show the firt 10 obsevations or rows.

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
1959-01-06    29
1959-01-07    45
1959-01-08    43
1959-01-09    38
1959-01-10    27
Name: Births, dtype: int64

In [37]:
series.size  # number of observations

365

In [40]:
series['1959-01'] # show all the daily data in the january month of 1959 (querying by time)

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
1959-01-06    29
1959-01-07    45
1959-01-08    43
1959-01-09    38
1959-01-10    27
1959-01-11    38
1959-01-12    33
1959-01-13    55
1959-01-14    47
1959-01-15    45
1959-01-16    37
1959-01-17    50
1959-01-18    43
1959-01-19    41
1959-01-20    52
1959-01-21    34
1959-01-22    53
1959-01-23    39
1959-01-24    32
1959-01-25    37
1959-01-26    43
1959-01-27    39
1959-01-28    35
1959-01-29    44
1959-01-30    38
1959-01-31    24
Name: Births, dtype: int64

In [41]:
series.describe() # descriptive statistics.

count    365.000000
mean      41.980822
std        7.348257
min       23.000000
25%       37.000000
50%       42.000000
75%       46.000000
max       73.000000
Name: Births, dtype: float64